.offset_traffic_rules_inst {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 15% 0px;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th,
.custom-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}